.main-header {
  padding: 20px;
  background-color: #95e6ef;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width-containers);

  @media (width >= 800px) {
    padding: 10px;
  }
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
