.navigation-menu {
  display: flex;
  gap: 10px;
}

.navigation-menu__links {
  width: 80px;
  aspect-ratio: 1;
}

.navigation-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.active {
  background-color: #006cf0;
  border-radius: 4px;
  color: #fff;
}
